.content {
    .alert {
        overflow: auto;
    }
}

.takeover-alert {
    h2 {
        font-weight: bold;
        font-size: 110%;
        margin-top: 0;
    }
}

.takeover-alert(@bg) {
    .alert-variant(
        @bg;
        darken(spin(@bg, -10), 5%);
        darken(@bg, 69%);
    );
}

.takeover-needhelp {
    .takeover-alert(#d7f5dd);
}

.takeover-adoptme {
    .takeover-alert(#f5efd7);
}

.takeover-handoff {
    .takeover-alert(#d7e1f5);
}

.notify-DEPRECATED,
.notify-MODULE_DEPRECATED {
    background: #f8d7da;
}
